* {
    margin: 0;
    padding: 0;
}

.block5 {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-wrapper {
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/945/610/433/ice-lake-snow-night-wallpaper-preview.jpg");
    position: relative;
    min-width: 400px;
    min-height: 500px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 6px black;
    opacity: 10;
}
@media screen and (max-width: 520px) {
    .app-wrapper {
        min-width: 50px;
    } 
    .block5 {
        display: block;
    } 
    .task-input{
        width: 50px;
    }
    .button-add{
        width: 50PX;
    }
    .list-item{
        display: block;
    }
    .button-complete,
.button-delete,
.button-edit{
    font-size: 12px;
}
 }
.header h1 {
    color: blue;
    text-align: center;
    margin: 30px 0;
}

.task-input {
    outline: none;
    width: 260px;
    padding: 15px;
    margin-right: 25px;
    font-size: 20px;
    color: blue;
    border: 1px solid black;
    border-radius: 10px;
}
.button-add {
    width: 70px;
    padding: 15px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: #f1af71;
    cursor: pointer;
}
.list-item {
    display: flex;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-height: 60px;
}
.button-complete,
.button-delete,
.button-edit {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 28px;
    border-radius: 50%;
}
.button-complete {
    color: #ff6c6c;
    margin-right: 10px;
}
.button-edit {
    color: #e2d029;
    margin-right: 10px;
}
.button-delete {
    color: lightseagreen;
}
.complete {
    text-decoration-style: solid;
    text-decoration-line: line-through;
    text-decoration-color: #ff6c6c;
    opacity: 0.6;
}
.list {
    width: 220px;
    background-color: #12343b;
    border: none;
    color: blue;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 15px;
}
.input:focus,
button:focus {
    outline: none;
}
.todo-app {
    width: 100px;
    margin-left: 460px;
    padding: 10px;
}